<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-config-transform" value="https://nuget.pkg.github.com/taljacob2/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-config-transform>
      <add key="Username" value="%GITHUB_ACTOR%" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </github-config-transform>
  </packageSourceCredentials>
</configuration>
