<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ApiUrl" value="https://orders.internal" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MaxRetries" value="5" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="OrdersDb" connectionString="Server=proddb;Database=Orders;Trusted_Connection=True;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>
