<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="SiteTitle" value="Admin Portal" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SessionTimeoutMinutes" value="10" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="AdminDb" connectionString="Server=proddb;Database=Admin;Trusted_Connection=True;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="SetAttributes" debug="false" />
    <customErrors xdt:Transform="SetAttributes" mode="RemoteOnly" />
  </system.web>
</configuration>
